<!-- Верхняя синяя полоса -->
<div class="header-top">
  <div class="header-top__wrapper">
    <!-- Кнопка "Добавить объявление" -->
    <a routerLink="/ads/add-ad" class="header-top__btn header-top__btn_add">
      Добавить объявление
      <span class="header-top__plus">+</span>
    </a>

    <!-- Динамические кнопки в зависимости от авторизации -->
    @if (!isLoggedIn) {
      <div class="auth-buttons">
        <a
          routerLink="/auth/login"
          class="header-top__btn header-top__btn_enter"
        >
          Войти
        </a>
      </div>
    }

    @if (isLoggedIn) {
      <div class="user-menu">
        <a routerLink="/ads/profile" class="header-top__btn"> Мой профиль </a>
        <!-- Кнопка "Пользователи" только для админа -->
        @if (isAdmin()) {
          <a routerLink="/ads/users" class="header-top__btn"> Пользователи </a>
        }
        <button
          class="header-top__btn header-top__btn_logout"
          (click)="onLogout()"
        >
          Выйти
        </button>
      </div>
    }
  </div>
</div>

<!-- Белая полоса с меню -->
<div class="header__nav">
  <div class="header__nav-container">
    <!-- Логотип с ссылкой на главную -->
    <a routerLink="/ads" class="header__title"> Доска объявлений </a>

    <app-category-selector (categorySelected)="onCategorySelect($event)">
    </app-category-selector>

    <div class="header__search">
      <app-search-input />
    </div>
  </div>
</div>
