@use "styles";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;


  img {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }


  &.pad {
    padding: 45px 20px;
  }
}
