:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  .search-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .search-input {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px 40px 10px 16px;
    min-height: 40px;
    outline: none;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-family: inherit;
    font-size: 14px;
    transition: border-color 0.3s;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  .icon {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;

    &.close {
      background-image: url("/assets/img/ico/close-one-ico.svg");
    }

    &.search {
      background-image: url("/assets/img/ico/search-ico.svg");
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
