@forward "styles/size";
@forward "styles/layout";
@forward "styles/display";
@forward "styles/color";
@forward "styles/font";

/* Глобальные стили */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  font-size: 14px;
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;
}

.button {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
  white-space: nowrap;
  font-family: inherit;
}

.button--blue {
  background-color: #0b223b;
  color: white;
  border: 1px solid #0b223b;

  &:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
}

/* Адаптивность контейнера */
@media (max-width: 1400px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 12px;
  }
}
