:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 140px);
}
